#content{
	padding-top: 10px;
}

.web img, .web embed, .logo img, .logo embed, .print img, .print embed, .clothing img, .clothing embed{
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.web embed, .logo embed, .print embed, .clothing embed
{
	height: 500px;
}

#banner1, #banner2, #banner3{
	height: 150px;
}

.web div, .logo div, .print div, .clothing div{
	padding: 0 300px;
}