* {
	font-family: 'Roboto';
	color: #aaa;
}

html{
	min-width: 1111px;
}

body{
	padding: 20px 100px 100px 100px;
}

#splash{
	position: fixed;
	display: block;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: white;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	opacity: 0;
	z-index: 1;
}
#splash img{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: <splash.width>;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	opacity: 0;
	z-index: 1;
}

#splash.showSplash{
	opacity: 1;
}

#splash img.showSplash{
	opacity: 1;
}

.btn {
	font-family: "Arial";
}

.prev-arrow, .next-arrow{
	width: 100px;
	height: 100%;
	position: fixed;
	top: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.prev-arrow:hover, .next-arrow:hover{
	width: 120px;
}

.prev-arrow{
	left: 0px;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.next-arrow{
	right: 0px;
}

#pager{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 20px;
	padding: 0;
	border: 0;
	clear: both;
}

#pager {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 200px;
	height: 20px;
	padding: 0;
	border: 0;
	text-align: center;
}

#pager span{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	border: 0;
	background-image: url("/public/gray-white-dot.svg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#pager span.selectedPage{
	background-image: url("/public/gray-black-dot.svg");
}