#skills #personal{
	display: inline-block;
	width: 40%;
	float: left;
}

#skills #credentials{
	display: inline-block;
	width: 50%;
}

#skills .sideborder {
	border-left: 20px solid <colors.lightblue>;
}

#skills img {
	display: inline-block;
	width: 100px;
	float: left;
	margin: 0 10px;
}

#skills p {
	display: inline-block;
	margin: 0;
	border: 0;
	padding: 0;
}

#skills .sub{
	height: 150px;
}
